.navbar-default{
  box-shadow: 0px 2px 20px rgba(0,0,0,0.65);
   background-color: #fff; 
   border-color: #fff; 
}
.form-control:focus{
  border-color:unset;
  outline:0;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.dropdown-menu{
  top: 105%;
}
.dropdown-menu::before {
  position: absolute;
  top: -7px;
  right: 17px;
  display: inline-block;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #CCC;
  border-left: 7px solid transparent;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  content: '';
}
.dropdown-menu::after {
  position: absolute;
  top: -6px;
  right: 18px;
  display: inline-block;
  border-right: 6px solid transparent;
  border-bottom: 6px solid white;
  border-left: 6px solid transparent;
  content: '';
}
@media (min-width: 1300px){
  .container {
      width: 1270px;
  }
}
@media (min-width: 1800px){
  .container {
      width: 1650px;
  }
}

@media screen and (min-width: 768px){
  .container .jumbotron, .container-fluid .jumbotron {
      padding-right: 30px;
      padding-left: 30px;
  }
  .jumbotron {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
