<div class="row">
	<div class="col-md-12">
		<h1 class="text-success"><strong><translate>Nuevo Parámetro</translate></strong></h1>
	</div>
</div>
<div class="row">
	<div class="col-md-6">
		<div class="form-group">
    		<label for="type"><translate>tipo de cultivo</translate></label>
    		<select ng-model="parameter.typeofcrop" id="type" class="form-control">
    			<option value="">Seleccionar</option>
    			<option value="Hydroponia">Hydroponia</option>
    		</select>
  		</div>
	</div>
	<div class="col-md-6">
		<div class="form-group">
    		<label for="type"><translate>Nombre del cultivo</translate></label>
    		<input type="text" ng-model="parameter.name" class="form-control">
  		</div>
	</div>
</div>
<div class="row">
	<legend>Parámetros</legend>
		<div class="form-group">
			<div class="col-md-7">
				<h3 for="">
					<translate>Temperatura ambiente</translate>
				</h3>
			</div>
			<div class="col-md-2">
				<label for=""><translate>Min</translate></label>
				<input type="number" ng-model="parameter.roomTemperature.min" min="0" class="form-control">
			</div>
			<div class="col-md-2">
				<label for=""><translate>Max</translate></label>
				<input type="number" ng-model="parameter.roomTemperature.max" min="0" class="form-control">
			</div>
			<div class="col-md-1"></div>
		</div>
		<div class="form-group">
			<div class="col-md-7">
				<h3 for="">
					<translate>Humedad relativa</translate>
				</h3>
			</div>
			<div class="col-md-2">
				<label for=""><translate>Min</translate></label>
				<input type="number" ng-model="parameter.relativeHumidity.min" min="0" class="form-control">
			</div>
			<div class="col-md-2">
				<label for=""><translate>Max</translate></label>
				<input type="number" ng-model="parameter.relativeHumidity.max" min="0" class="form-control">
			</div>
			<div class="col-md-1"></div>
		</div>
		<div class="form-group">
			<div class="col-md-7">
				<h3 for="">
					<translate>Ph</translate>
				</h3>
			</div>
			<div class="col-md-2">
				<label for=""><translate>Min</translate></label>
				<input type="number" ng-model="parameter.ph.min" step="0.1" min="0" max="14" class="form-control">
			</div>
			<div class="col-md-2">
				<label for=""><translate>Max</translate></label>
				<input type="number" ng-model="parameter.ph.max" step="0.1" min="0" max="14" class="form-control">
			</div>
			<div class="col-md-1"></div>
		</div>
		<div class="form-group">
			<div class="col-md-7">
				<h3 for="">
					<translate>Electroconductividad</translate>
				</h3>
			</div>
			<div class="col-md-2">
				<label for=""><translate>Min</translate></label>
				<input type="number" ng-model="parameter.electroconductivity.min" min="0" class="form-control">
			</div>
			<div class="col-md-2">
				<label for=""><translate>Max</translate></label>
				<input type="number" ng-model="parameter.electroconductivity.max" min="0" class="form-control">
			</div>
			<div class="col-md-1">
				<label for=""><translate>medida</translate></label>
				<select ng-model="parameter.electroconductivity.measure" class="form-control">
					<option value="">..</option>
					<option value="MS">MS</option>
					<option value="PP MM">PP MM</option>
				</select>
			</div>
		</div>
		<div class="form-group">
			<div class="col-md-7">
				<h3 for="">
					<translate>Temperatura del agua</translate>
				</h3>
			</div>
			<div class="col-md-2">
				<label for=""><translate>Min</translate></label>
				<input type="number" ng-model="parameter.waterTemperature.min" min="0" class="form-control">
			</div>
			<div class="col-md-2">
				<label for=""><translate>Max</translate></label>
				<input type="number" ng-model="parameter.waterTemperature.max" min="0" class="form-control">
			</div>
			<div class="col-md-1"></div>
		</div>
		<div class="form-group">
			<div class="col-md-7">
				<h3 for="">
					<translate>Oxigeno disuelto en el agua</translate>
				</h3>
			</div>
			<div class="col-md-2">
				<label for=""><translate>Min</translate></label>
				<input type="number" ng-model="parameter.dissolvedOxygenInTheWater.min" min="0" class="form-control">
			</div>
			<div class="col-md-2">
				<label for=""><translate>Max</translate></label>
				<input type="number" ng-model="parameter.dissolvedOxygenInTheWater.max" min="0" class="form-control">
			</div>
			<div class="col-md-1"></div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<button class="btn btn-success" ng-click="create()">Aceptar</button>
			</div>
		</div>
</div>