<div class="row">
	<div class="col-md-2">
		<a ui-sref="admin.parameters_new">
			<button class="btn btn-success"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>nuevo</button>
		</a>
	</div>
	<div class="col-md-10">
		<div class="input-group">
      		<input type="text" ng-model="filtro" class="form-control" placeholder="filtrar">
      			<span class="input-group-btn">
        			<button class="btn btn-default" type="button">Filtrar</button>
      			</span>
    	</div>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<table class="table">
			<thead>
				<tr>
					<th>Nombre</th>
					<th>Información</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="doc in parameters | filter: filtro">
					<td>{{doc.data.name}}</td>
					<td><a ui-sref="admin.parameters_modify({nick_parameter:'{{doc.id}}'})"><span class="glyphicon glyphicon-leaf" style="background: #000000" aria-hidden="true"></span></a></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>