<div class="row">
	<div class="col-md-12">
		<div class="input-group">
      		<input type="text" ng-model="filtro" class="form-control" placeholder="filtrar">
      			<span class="input-group-btn">
        			<button class="btn btn-default" type="button">Filtrar</button>
      			</span>
    	</div>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<table class="table">
			<thead>
				<tr>
					<th>Nombre</th>
					<th>Apellido</th>
					<th>Información</th>
					<th>Estado</th>
				</tr>
			</thead>
			<tbody>
			    <tr ng-repeat="data in docs|filter:filtro">
					<td>{{data.name}}</td>
					<td>{{data.email}}</td>
					<td><a ui-sref="admin.users_info({nick_user:'{{data.documentNumber}}'})"><span class="glyphicon glyphicon-file" style="background: #000000" aria-hidden="true"></span></a></td>
					<td>
						<span ng-if="data.active == 'esperando'" class="label label-primary">Esperando</span>
						<span ng-if="data.active == 'rechazado'" class="label label-warning">Rechazado</span>
						<span ng-if="data.active == 'aceptado'" class="label label-success">Aceptado</span>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>