<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="container-home-menu">
      
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand unpadding" href="#" style="padding-top: 5px; padding-left: 30px;"><img src="Public/img/Loco_Cabecera_Pequeno.png" alt="Ecolgreen" class="logotipo" style="height: 56px;"></a>
      </div>

      
      <div class="collapse navbar-collapse pull-right" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><a href="" style="font-weight: 600;font-size: 20px; color: #0094CB; height: 64px;padding-top: 22px;" data-toggle="modal" data-target="#loginOfThis">Iniciar sesi&oacute;n</a></li>
        </ul>
      </div>
    </div>
  </div>
</nav>
<section>
  <header>
    <div class="container" style="text-align: center"> 
      <img src="Public/img/Logo_Portada_Index.png" alt="" class="img-index" >
      <span class="text-index">Bienvenidos a  <br/>la plataforma</span>  
      <span class="span-index">Ecolred</span>
      <p><a class="button-index" ui-sref="register">CREAR CUENTA</a></p>
    </div>
  </header>

</section>


<div class="modal" id="loginOfThis" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content" style="border: 3px solid #54B202; height: 560px; width: 100%;">
      <div class="modal-body">
      	<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      	<div class="row" style="text-align: center;">
      		<img src="Public/img/EcolRed_De_Inicio.png" alt="" style="display: block;height: 170px; width: 137px; margin: auto; margin-top: 50px;">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="inputEmail" class="control-label" style="font-size: 20px; color:#0094CB"><translate>Correo</translate></label>
                    <input type="email" class="form-control" id="inputEmail" placeholder="example@example.com" ng-model="user.email" required>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <label for="inputPassword" class="control-label" style="font-size:20px;color:#0094CB"><trasnlate>Contraseña</trasnlate></label>
                    <input type="password" class="form-control" id="inputPassword" ng-model="user.password" placeholder="***********" required>
                </div>
                <a class="" href="" style="font-size: 14px; color: #0094CB;">¿Olvidaste tu contraseña?</a>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <button class="btn btn-success btn-login" ng-click="login()">Entrar</button>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    No tienes una cuenta? <a class="link_create" ng-click='redirect()'>Solicita una cuenta</a>
                </div>
            </div>
      	</div>
      </div>
    </div>
  </div>
</div>   

   
<!--   
   
<div class="row">
    <div class="col-md-12">
        <form class="form-horizontal center-block" style="width: 50%; padding: 35px">
            <h2 class="text-center">Formulario de ingreso</h2>
            <div class="form-group">
                <label for="inputEmail" class="control-label"><translate>Correo</translate></label>
                <input type="email" class="form-control" id="inputEmail" placeholder="example@example.com" ng-model="user.email" required>
            </div>
            <div class="form-group">
                <label for="inputPassword" class="control-label"><trasnlate>Contraseña</trasnlate></label>
                <input type="password" class="form-control" id="inputPassword" ng-model="user.password" placeholder="***********" required>
            </div>
            <div class="form-group">
                <button class="btn btn-success btn-block center-block" style="width: 50%;" ng-click="login()">Entrar</button>   
            </div>
            <div>
                <a class="link_create" ui-sref="register">Crear cuenta</a>
            </div>
        </form>
    </div>
</div>-->