<div class="row">
    <div class="col-md-12">
        <form class="form-horizontal center-block" style="width: 50%; padding: 35px">
            <h2 class="text-center">Formulario de ingreso</h2>
            <div class="form-group">
                <label for="inputEmail" class="control-label"><translate>Correo</translate></label>
                <input type="email" class="form-control" id="inputEmail" placeholder="example@example.com" ng-model="user.email" required>
            </div>
            <div class="form-group">
                <label for="inputPassword" class="control-label"><trasnlate>Contraseña</trasnlate></label>
                <input type="password" class="form-control" id="inputPassword" ng-model="user.password" placeholder="***********" required>
            </div>
            <div class="form-group">
                <button class="btn btn-success btn-block center-block" style="width: 50%;" ng-click="login()">Entrar</button>   
            </div>
            <div>
                <a class="link_create" ui-sref="register">Crear cuenta</a>
            </div>
        </form>
    </div>
</div>