<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="container-home-menu">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand unpadding" href="#" style="padding-top: 5px; padding-left: 30px;"><img src="App/Public/img/Loco_Cabecera_Pequeno.png" alt="Ecolgreen" class="logotipo" style="height: 56px;"></a>
      </div>
      <div class="collapse navbar-collapse pull-right" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li>
            <div class="btn-group" role="group">
             <img src="App/Public/img/Foto_De_Perfil.png" alt="{{name}}" style="height: 50px;border-radius: 50%;margin-top: 8px;cursor: pointer" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ng-click="funsions">
              <ul class="dropdown-menu dropdown-menu-right">
                <li><a style="color: #000;font-weight: 600;" class="container-nick" >{{name}} <br><span style="font-weight: 100; font-size: 10px;">{{user.email}}</span></a></li>
                <li role="separator" class="divider"></li>
                <li><a href="" data-toggle="modal" data-target="#User">Perfil</a></li>
                <li><a href="" ng-click="logout()">Salir</a></li>
              </ul>
            </div>
         </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
 <div class="col-xs-12" style="padding-top: 70px; ">
      <div class="row">
         <div class="col-md-2">
             <nav>
                 <ul class="nav nav-pills nav-stacked">
                      <li role=presentation>
                          <a ui-sref="main.room_temperature"><translate>Temperatura ambiente</translate></a>
                      </li>
                      <li role="presentation">
                          <a ui-sref="main.relative_humidity"><translate>Humedad relativa</translate></a>
                      </li>
                      <li role="presentation">
                          <a ui-sref="main.ph"><translate>Ph</translate></a>
                      </li>
                      <li role="presentation">
                          <a ui-sref="main.electroconductivity"><translate>Electroconductividad</translate></a>
                      </li>
                      <li role="presentation">
                          <a ui-sref="main.water_temperature"><translate>Temperatura del agua</translate></a>
                      </li>
                      <li role="presentation">
                          <a ui-sref="main.oxygen_water"><translate>Oxigeno en el agua</translate></a>
                      </li>
                  </ul> 
             </nav>
         </div>
         <div class="col-md-10">  
            <ui-view>
               <div class="row">
                  <div class="col-md-12">
                      <img src="App/Public/img/pecera.jpg" style="width: 500px;" class="img-responsive" alt="Responsive image">
                  </div> 
                  <div class="col-md-12">
                      <h2>Último hostorial</h2>
                      <table class="table table-hover">
                          <tr>
                              <th COLSPAN=2>temperatura ambiente</th>
                              <th COLSPAN=2>humedad relativa</th>
                              <th COLSPAN=2>Ph</th>
                              <th COLSPAN=2>Electroconductividad</th>
                              <th COLSPAN=2>Temperatura del agua</th>
                              <th COLSPAN=2>Oxigeno disuelto en agua</th>
                          </tr>
                          <tr>
                              <tr>
                                 <th>fecha</th>
                                 <th>valor</th>
                                 <th>fecha</th>
                                 <th>valor</th>
                                 <th>fecha</th>
                                 <th>valor</th>
                                 <th>fecha</th>
                                 <th>valor</th>
                                 <th>fecha</th>
                                 <th>valor</th>
                                 <th>fecha</th>
                                 <th>valor</th>
                              </tr>
                              <tr>
                                 <td>01/11/2018</td>
                                 <td>27 C°</td>
                                 <td>01/11/2018</td>
                                 <td>18 %</td>
                                 <td>01/11/2018</td>
                                 <td>7.5</td>
                                 <td>01/11/2018</td>
                                 <td>2.0 mS</td>
                                 <td>01/11/2018</td>
                                 <td>26 C°</td>
                                 <td>01/11/2018</td>
                                 <td>16 %</td>
                              </tr>
                          </tr>
                      </table>
                  </div>
               </div>                
            </ui-view>
       </div>
    </div>
</div>
  
<!-- Modal -->
<div class="modal fade" id="User" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
               <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h5 class="modal-title" id="ModalLabel">Datos del usuario</h5>
                
            </div>
            <div class="modal-body">
                <form>
                    <label for="name" class="control-label">Nombre</label>
                    <input type="text" class="form-control" id="name" ng-model="user.name" placeholder="Nombre" required>
                    <label for="email" class="control-label">Correo</label>
                    <input type="email" class="form-control" id="email" ng-model="user.email" placeholder="example@example.com" required>
                    <label for="password" class="control-label">Contraseña</label>
                    <input type="password" class="form-control" id="password" ng-model="user.password" placeholder="********">
                    <label for="confirmpassword" class="control-label">Confirmar contraseña</label>
                    <input type="password" class="form-control" id="confimrpassword" ng-model="user.confirmpassword" placeholder="*******">
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="modifyUser()">Guardar Cambios</button>
            </div>
        </div>
    </div>
</div>