<div class="row">
    <h1>Electroconductividad</h1>
</div>
<div class="row">
    <div class="col-md-12">
       <div class='col-xs-6'>
         <div class="form-group">
            <div class='input-group date' id="datepickerElectroconductivity" >
               <input type='text' ng-model="search.date" class="col-xs-12 form-control"/>
               <span class="input-group-addon">
                  <i class="fa fa-calendar"></i>
               </span>
            </div>
         </div>
      </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="chart-container">
            <canvas id="LineChart" style="width: 100%"></canvas>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <table class="table table-hover">
            <tr>
                <th>#</th>
                <th>fecha</th>
                <th>Valor</th>
            </tr>
            <tr> <!--aquí va el ng repeat-->
                <td>1</td>
                <td>01/11/2018</td>
                <td>21</td>
            </tr>
            <tr> <!--aquí va el ng repeat-->
                <td>1</td>
                <td>01/11/2018</td>
                <td>21</td>
            </tr>
            <tr> <!--aquí va el ng repeat-->
                <td>1</td>
                <td>01/11/2018</td>
                <td>21</td>
            </tr>
            <tr> <!--aquí va el ng repeat-->
                <td>1</td>
                <td>01/11/2018</td>
                <td>21</td>
            </tr>
            <tr> <!--aquí va el ng repeat-->
                <td>1</td>
                <td>01/11/2018</td>
                <td>21</td>
            </tr>
        </table>
    </div>
</div>