<div class="row">
    <div class="col-md-4">
        <div class="chart-container">
            <canvas id="BarChart" style="width: 100%"></canvas>
        </div>
    </div>
    <div class="col-md-4">
        <div class="chart-container">
            <canvas id="LineChart"></canvas>
        </div>
    </div>
    <div class="col-md-4">
        <div class="chart-container">
            <canvas id="AreaChart"></canvas>
        </div>
    </div>
    <div class="col-md-4">
        <div class="chart-container">
            <canvas id="PieChart"></canvas>
        </div>
    </div>
    <div class="col-md-4">
        <div class="chart-container">
            <canvas id="PolarChart"></canvas>
        </div>
    </div>
    <div class="col-md-4">
        <div class="chart-container">
            <canvas id="DonaChart"></canvas>
        </div>
    </div>
</div>