<div class="row">
    <h1>Temperatura del medio ambiente</h1>
</div>
<div class="row">
    <div class="col-md-12">
        <input type="date" ng-model="search.date">
        <button type="button" class="btn btn-default" aria-label="Left Align">
            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
        </button>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="chart-container">
            <canvas id="LineChart" style="width: 100%"></canvas>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <table class="table table-hover">
            <tr>
                <th>#</th>
                <th>fecha</th>
                <th>Valor</th>
            </tr>
            <tr> <!--aquí va el ng repeat-->
                <td>1</td>
                <td>01/11/2018</td>
                <td>21</td>
            </tr>
            <tr> <!--aquí va el ng repeat-->
                <td>1</td>
                <td>01/11/2018</td>
                <td>21</td>
            </tr>
            <tr> <!--aquí va el ng repeat-->
                <td>1</td>
                <td>01/11/2018</td>
                <td>21</td>
            </tr>
            <tr> <!--aquí va el ng repeat-->
                <td>1</td>
                <td>01/11/2018</td>
                <td>21</td>
            </tr>
            <tr> <!--aquí va el ng repeat-->
                <td>1</td>
                <td>01/11/2018</td>
                <td>21</td>
            </tr>
        </table>
    </div>
</div>